@import '../../styles/colors.scss';

.header-logo {
  width: 13rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 3rem 5rem;
  align-items: center;
}

.header-link-container {
  display: flex;
}

.header-link {
  color: $primary-color;
  text-decoration: none;
  font-family: montserrat;
  margin-left: 2rem;
  font-size: 1.5rem;
}

.header-link.active {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .header-logo {
    width: 30%;
  }

  .header-container {
    margin: 2rem;
  }

  .header-link {
    font-size: 0.8rem;
    margin-left: 2rem;
  }
}
