.banner-img {
  object-fit: cover;
  height: 11rem;
  margin: 0 5%;
  filter: brightness(70%);
  border-radius: 1rem;
  width: 90%;
}

.banner-text {
  font-family: 'Montserrat';
  color: white;
  font-size: 3rem;
  position: relative;
  bottom: 10.5rem;
  display: flex;
  justify-content: center;
}

.banner {
  height: 11rem;
}
