.slider-img {
  height: 25rem;
  width: 85rem;
  object-fit: cover;
  border-radius: 2rem;
  margin-bottom: -7rem;
}

.slider-arrow-left {
  position: relative;
  position: relative;
  left: 6rem;
  bottom: 1rem;
  margin-left: -1rem;
}

.slider-arrow-right {
  position: relative;
  left: 84rem;
  bottom: 8.75rem;
}

.slider-current-position {
  color: white;
  font-family: montserrat;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 4rem;
}

@media (max-width: 768px) {
  .slider-img {
    width: 90%;
    margin: 0 5%;
    height: 16rem;
  }

  .slider-arrow-left {
    width: 1.5rem;
    left: 2.5rem;
    bottom: -9.4rem;
  }

  .slider-arrow-right {
    width: 1.5rem;
    left: 23.5rem;
    bottom: 9rem;
  }

  .slider-current-position {
    bottom: 5rem;
  }

  .slider-container {
    height: 18rem;
  }
}
